<h1>testin angular routing</h1>

<button type="button" routerLink="/" routerLinkActive="active">clicke for routing back to home</button>
<button type="button" routerLink="/routing" routerLinkActive="active">clicke for routing</button>

<router-outlet></router-outlet>


<h2>sending value using routing</h2>

<ul class="list-group ">
  <li class="list-group-item" *ngFor="let post of Posts;let index  = index ">
    <div>{{index}}</div>
    <div>{{post}}</div>
    <button type="button" [routerLink]="['/post',index]" [queryParams]="{title:post,pageNo:1}">View</button>
  </li>
</ul>


<button (click)="callAnotherPost()"> clcik this button to call another post</button>

<router-outlet></router-outlet>


<!-- <div (postEventEmitter)="postEventTriggered($event)"> -->

<!-- </div> -->